.card {
    background-color: transparent;
}

.img-uploaded {
    width: 70%;
    object-fit: contain;
    height: 70%;
    border: 1px solid #fff;
    margin: 0 5px 0 5px;

}

.btn {
    color: #fff;
    background-color: transparent;
}

.btn:hover {
    transition: all 1s ease-in-out;
}

.sp-btn:hover {
    color: #1C1C1E;
    background-color: #fff;
    transition: all 1s ease-in-out;
}
