
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
padding: 0;
}
.container-fluid {
  background-image: url('./assets/audi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.637);
}